body {
  font-family: 'Merriweather', serif;
  font-weight: lighter;
/*  background-color: 444140;*/
  color: #F7EBE8;
  background-image: linear-gradient(transparent,#a8659c, #000);
}

h1, h2 {
  font-family: font-family: 'Lora', serif;
  text-align: center;
  color: #444140;
}

h2, p {
  font-weight: lighter;
}

p {
  font-size: 20px;
}

.header img {
  object-fit: cover;
  height: auto;
  width: 200px;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.before img {
  object-fit: cover;
  height: auto;
  justify-content: center;
  display: block;
  margin-left: 320px;
  margin-right: 320px;
  width: 50%;
}

.p-1, .p-2 {
  text-align: justify;
  justify-content: center;
  margin: auto;
  width: 60%;
  text-indent: 50px;
  padding: 15px;
}

.skillset {
  display: flex;
  border: 1px solid white;
  margin-left: 320px;
  margin-right: 320px;
  justify-content: space-around;
  padding: 5px 20px 20px 20px;
}

a {
  color: white;
}

.sign-off {
  padding: 10px 0px;
}
